<div class="col d-flex justify-content-center">
    <div class="card h-100" style="width: 12rem;">
        <img src="{{this.image}}" class="card-img-top bg-secondary" alt="...">
        <div class="card-body bg-light">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">
                <b>$ {{this.price}}</b><br>
                {{this.description}}<br>
                <u>Disponible</u>: {{this.stock}}u
            </p>
        </div>
        <button id="button-add-to-cart-id{{this._id}}" type="button" class="btn btn-success my-2 mx-auto">Agregar al
            carrito</button>
        {{#if this.ADMIN}}
        <div class="mx-auto mb-1">
            <button id="button-update-product-id{{this._id}}" type="button" class="btn btn-primary">Actualizar</button>
            <button id="button-delete-product-id{{this._id}}" type="button" class="btn btn-primary">Eliminar</button>
        </div>
        {{/if}}
    </div>
</div>